<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Scaffold Webservice</title>

    <style>
        div.content{
            position: absolute!important;
            top: 45%!important;
            left: 49%!important;
            width: 350px;
            transform: translate(-50%, -50%)!important;
            text-align: center;
            color: darkblue;
        }
    </style>

</head>
<body>
    <div class="content">
        <h1>Scaffold Webservice</h1>
    </div>
</body>
</html>